<html>
    <head>
        <title>
            My First Form
        </title>
        <style>
            form {
               background-color: lightblue; 
               font-family: 'Slabo 27px', serif;
               font-size: 30px;
            }
            
            h1 {
                background-color: lightgreen;
                font-family: 'Sedgwick Ave Display', cursive;
            }
            
            p {
                background-color: lightgrey;
                font-family: 'Sedgwick Ave Display', cursive;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <%= yield%>
    </body>
</html>