<!DOCTYPE html>
<html>
<body>
<h1>Pick rock, paper, or scissor</h1>

    <div class="container">
        <div class="row">
            <div class="col l4">
<h2> Rock </h2>
<a href="/throw/rock">
<img src = "https://fsmedia.imgix.net/91/46/6a/7b/f142/4b54/93cf/e2f6fca20a0a/dwayne-the-rock-johnson-net-worthjpg.jpeg?rect=12%2C0%2C1000%2C500&fm=png&w=1200" width="150px">
</a>
</div>
<div class="col l4">
<h2> Paper </h2>
<a href="/throw/paper">
<img src = "http://p.lefux.com/61/20100823/A2846000BR/origami-paper-triangle-penguin-1-big.jpg" width="150px">
</a>
</div>
<div class="col l4">
<h3> Scissors </h3>
<a href="/throw/scissor">
<img src = "https://vignette.wikia.nocookie.net/clocktower/images/1/13/Scissorman.png/revision/latest?cb=20160326150106" width="150px">
</a>
</div>
</div>
</body>
</html>