<!DOCTYPE html>
<html>
<body>
<h1>Choose you Avatar!</h1>

    <div class="container">
        <div class="row">
            <div class="col l4">
<h2> Schiffman </h2>
<a href= /schiffman>
<img src = "https://pbs.twimg.com/profile_images/913100879204556800/Ou9CxY1c_400x400.jpg" width="150px">
</a>
</div>
<div class="col l4">
<h2> Penguin </h2>
<a href="/penguin">
<img src = "http://p.lefux.com/61/20100823/A2846000BR/origami-paper-triangle-penguin-1-big.jpg" width="150px">
</a>
</div>
<div class="col l4">
<h3> Boshy </h3>
<a href="/boshy">
<img src = "http://i.imgur.com/BRwaqwX.png" width="150px">
</a>
</div>
</div>
</body>
</html>